﻿
@media (max-width: 1350px) {
.alinhamento-menu {
   margin-top:118px;   
}

}
@media (max-width: 1199px) {

   .alinhamento-menu {
   margin-top:118px;   
}
}
@media (max-width: 992px) {
 .alinhamento-menu {
   margin-top:118px;   
}
}
@media (max-width: 792px) {
 .alinhamento-menu {
   margin-top:118px;   
}
}
@media (max-width: 767px) {
 .alinhamento-menu {
   margin-top:118px;   
}
}
@media (max-width: 340px) {

 .alinhamento-menu {
   margin-top:118px;   
}
}
