
    #loading {
        display: none;
        position: fixed;
        left: 0%;
        top: 0%;
        margin-left: 0;
        margin-top: 0;
        padding: 10px;
        width: 100%;
        height: 100%;
        z-index: 100;
        border: 1px solid #d0d0d0;
        vertical-align: middle;
        text-align: center;
        background-image: url('../../../images/Popup/fundoLoading.png');
    }

    #plus 
    {
            position: absolute;
            display: block;
            text-align: center;
            z-index: 101;
            height: 50%;
            width: 40%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%); /* IE 9 */
            -webkit-transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
    }
