/******************************************************************************


******************************************************************************/

/* clearing */
	* { 
	margin: 0px;
	padding: 0px;
	list-style: none;
	}
	.clearfix:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	* html>body .clearfix {
		display: inline-block;
		width: 100%;
	}
	
	* html .clearfix {
		/* Hides from IE-mac \*/
		height: 1%;
		/* End hide from IE-mac */
	}
/* end clearing */


/* replace */
	.replace {
		background-repeat: no-repeat;
		background-position: left top;
		background-color:transparent;
		text-indent:-50000px;
		overflow:hidden;
	}
	/* tidy these up */
	.replace * {
		text-indent: -10000px;
		display:block;
		background-repeat: no-repeat;
		background-position: left top;
		background-color:transparent;
	}
	.replace a {
		text-indent:0;
	}
	.replace a span {
		text-indent:-10000px;
	}
/* end replace */

/* replace de botoes */
.replace-bt{
	text-indent:-999px;
	line-height:999999px;
	cursor:pointer;
	border:none;
}
/* end replace de botoes */

/* accessibility */
     span.accesskey {
     	text-decoration:none;
     }
     .accessibility {
     	position: absolute;
     	top: -999em;
     	left: -999em;
     }
/* end accessibility */

/* hidden */
.hidden { 
	display:none; 
}
/* end hidden */

#progressBackgroundFilter {
  position:absolute;
  top:0px; 
  bottom:0px; 
  left:0px;
  right:0px;  
  overflow:hidden; 
  padding:0; 
  margin:0; 
  background-color:#000; 
  filter:alpha(opacity=50); 
  opacity:0.5;
  z-index:1000; 
} 

#processMessage { 
  position:absolute; 
  top:40%; 
  left:50%;
  padding:5px; 
  width:30%; 
  z-index:1001;  
  background-color:#fff;
  text-align:center;
} 